a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

ul {
  list-style: none;
  color: white;
}

/* Generics */

body {font-family: Arial, Helvetica, sans-serif;}

/* HEADER */

.header-main {
  background-color: orange;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-head {
  display: flex;
  align-items: center;
  min-height: 60px;
  background-color: #FF6801;
}

.header-head ul li {
  display: inline-block;
  padding-left: 0 5px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
}

.header-links {
  display: flex;
	flex-grow: 1;
	align-items: center;
  cursor: pointer;
}
/* 
.header-head ul li a:hover {
  text-decoration: underline;
} */

.logo {
  height: 1.8rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.header-icons {
  display: flex;
	flex-grow: 1;
	align-items: center;
  justify-content: flex-end;
  margin: 0 10px;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

/*MAIN */

main {
  margin-top: 100px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

main .row > div {
  width: calc(100%/3);
  padding: 15px 10px;
}

.col {
  width: 25%;
  position: relative;
}

.favorite-container {
  position: absolute;
  right: 0;
  top: 30px;
  padding: 5px 10px;
  background-color: white;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
} 


.favorite-container > span {
  display: inline;
  background-color: white;
  margin: 10px;
}

.favorite-container:hover {
  color: red;
}

.tags-container {
  position: relative;
}

.tags-container > .sale{
  position: absolute;
  bottom: 50px;
  background-color: red;
  color: white;
  padding: 3px 10px;
  font-size: .8rem;
}

.tags-container > .discount{
  position: absolute;
  bottom: 50px;
  left: 17%;
  background-color: green;
  color: white;
  font-size: .8rem;
  padding: 3px 10px;
}

.col img.img-sec {
  display: none;
}

.col:hover img.img-main {
  display: none;
}

.col:hover img.img-sec{
  display: inline-block;
}

.info-container h4 {
  font-size: .8rem;
}

.info-container h3 {
  font-weight: 600;
  text-transform: uppercase
}

.current-price {
  color: red;
  font-weight: bold;
  font-size: .8rem;
}

.full-price {
  font-size: .8rem;
  text-decoration: line-through;
}
/* FOOTER */

.footer-container {
  max-width: 1200px;
  background-color: #1A1A1A;
  color: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  border-bottom: 2px solid white;
}

.footer-container ul li {
  display: inline;
} 

.footer-right {
  text-align: left;
}
.footer-right .footer-privasy ul {
font-size: .8rem;
}

.footer-left{
  text-align: right;
  padding: 10px

}

.footer-left a{
  margin: 0 2px;
}

.footer-container h6 {
  font-size: .9rem;
  margin: 10px 0 10px 10px;
}

